/*-- scss:defaults --*/

// Base document colors
$navbar-bg: #FFCA8B; // navbar
$navbar-fg: #422700; // navbar foreground elements
$navbar-hl: black; // highlight color when hovering over navbar links
